In [1]:
import pandas as pd
from datetime import datetime

In [2]:
# Read in the data

df = pd.read_csv("data/chicago_crime_2019_2023.csv")

In [3]:
df.info()

# Clean data
df_cl = df.drop_duplicates()
df_cl = df_cl.dropna()

df_cl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1120322 entries, 0 to 1120321
Data columns (total 7 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   unique_key      1120322 non-null  int64
 1   date            1120322 non-null  object
 2   block           1120322 non-null  object
 3   primary_type    1120322 non-null  object
 4   description     1120322 non-null  object
 5   ward            1120274 non-null  float64
 6   community_area  1120320 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 59.8+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 1120273 entries, 0 to 1120321
Data columns (total 7 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   unique_key      1120273 non-null  int64
 1   date            1120273 non-null  object
 2   block           1120273 non-null  object
 3   primary_type    1120273 non-null  object
 4   description     1120273 non-null  object
 5   ward            1120273 non-null  float64
 6   community_area  1120273 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 68.4+ MB

In [4]:
# list all primary crime types
df_cl.primary_type.unique()

array(['CRIMINAL SEXUAL ASSAULT', 'ROBBERY', 'PUBLIC PEACE VIOLATION',
       'WEAPONS VIOLATION', 'PROSTITUTION', 'SEX OFFENSE',
       'OFFENSE INVOLVING CHILDREN', 'NARCOTICS',
       'INTERFERENCE WITH PUBLIC OFFICER', 'OTHER OFFENSE', 'HOMICIDE',
       'BATTERY', 'ASSAULT', 'MOTOR VEHICLE THEFT', 'DECEPTIVE PRACTICE',
       'CRIMINAL TRESPASS', 'THEFT', 'ARSON', 'INTIMIDATION', 'STALKING',
       'CRIMINAL DAMAGE', 'KIDNAPPING', 'BURGLARY',
       'LIQUOR LAW VIOLATION', 'CONCEALED CARRY LICENSE VIOLATION',
       'CRIM SEXUAL ASSAULT', 'OTHER NARCOTIC VIOLATION', 'OBSCENITY',
       'HUMAN TRAFFICKING', 'GAMBLING', 'NON-CRIMINAL',
       'PUBLIC INDECENCY', 'RITUALISM'], dtype=object)

In [5]:
df_cl.sample(10)

,unique_key,date,block,primary_type,description,ward,community_area
415930,11904890,2019-11-27 06:45:00 UTC,055XX N HARLEM AVE,ASSAULT,AGGRAVATED:KNIFE/CUTTING INSTR,41.0,10.0
659957,11756071,2019-07-13 08:00:00 UTC,077XX N HASKINS AVE,CRIMINAL DAMAGE,TO PROPERTY,49.0,1.0
1001119,12749873,2022-07-03 01:20:00 UTC,023XX W 52ND ST,ASSAULT,AGGRAVATED - HANDGUN,15.0,63.0
378791,11647179,2019-04-07 03:26:00 UTC,039XX W WILCOX ST,BATTERY,AGGRAVATED: HANDGUN,28.0,26.0
493809,11994725,2020-02-28 05:49:00 UTC,040XX W POTOMAC AVE,ASSAULT,SIMPLE,37.0,23.0
212301,12580750,2021-12-30 06:15:00 UTC,019XX N CICERO AVE,THEFT,OVER $500,36.0,19.0
214527,13113158,2023-06-18 09:55:00 UTC,050XX N WINCHESTER AVE,THEFT,OVER $500,40.0,4.0
617146,12108409,2020-07-17 12:07:00 UTC,031XX W CHASE AVE,MOTOR VEHICLE THEFT,AUTOMOBILE,50.0,2.0
245701,13017954,2023-03-21 05:37:00 UTC,013XX S DAMEN AVE,MOTOR VEHICLE THEFT,AUTOMOBILE,28.0,28.0
557665,12666403,2022-04-08 09:00:00 UTC,036XX W 13TH ST,THEFT,OVER $500,24.0,29.0

In [ ]:
# Convert timestamp to date 
df_cl["date"] = pd.to_datetime(df_cl["date"])
# set index to date
df_cl = df_cl.set_index("date")
# insert year instead of date
df_cl["year"] =  df_cl.index.year

In [ ]:
df_cl_year = df_cl.groupby(["year", "primary_type"])
df_crime_counts = df_cl_year.agg(count=("primary_type", "count")).unstack(fill_value=0)

In [ ]:
df_crime_counts.sample(4)